body {
	background-color: #262626;
}


#mainfrm {
	margin-top: 20%;
}

#magnify {
	color: chartreuse;
	font-size: 50px;
	margin-top: 25%;;
	margin-left: auto;
	margin-right: auto;
}

#searchBox {
	background-color: #262626;
	border-color: chartreuse;
	border-radius: 50%;
	border-width: thick;
	height: 4.2%;
	width: 4.5%;
}

/*
	#handle {
	height: 19px;
	border-right: 1.5px solid chartreuse;
	border-width: thick;
	-webkit-transform: rotate(-45deg);  Chrome, Safari, Opera 
	-moz-transform: rotate(-45deg); /* Mozilla 
	-ms-transform: rotate(-45deg); /* IE 
	transform: rotate(-45deg);
	position: absolute;
	top: 91%;
	left: 52%;
}
*/
