body {
	background-color: #262626;
}

#magnify {
	color: chartreuse;
	font-size: 50px;
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
}

.toTop {
	margin-top: 0px !important;
}

#label {
	color: azure;
	font-family: 'Lato', sans-serif;
	font-size: 110%;
}

#mainfrm {
	/*margin-top: 20%;*/
}

#searchBox {
	background-color: #262626;
	border-color: chartreuse;
	border-radius: 25px;
	border-width: 3px;
	color: chartreuse;
	font-size: 125%;
	letter-spacing: 2px;
}

 /* The following CSS usually removes the default highlight-border */
#searchBox:focus {
	outline: none;
}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul {
	list-style-type: none;
}

.section {
	background-color: cornsilk;
	color: black;
	margin: 4px 0 4px 0;
}

.easeIn {
	/* Chrome, Safari, Opera */
    -webkit-animation-name: easeIn;
    -webkit-animation-duration: 3s;
	/* Mozilla Firefox */
    -moz-animation-name: easeIn; 
    -moz-animation-duration: 3s; 
	/* Standard */
    animation-name: easeIn;
    animation-duration: 3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes easeIn {
    from {opacity: 0.0;}
    to {opacity: 1;}
}

/* Mozilla */
@-moz-keyframes easeIn {
    from {opacity: 0.0;}
    to {opacity: 1;}
}

/* Standard */
@keyframes easeIn {
    from {opacity: 0.0;}
    to {opacity: 1;}
}