body {
	background-color: #262626;
}

#magnifyingGlass {
	color: chartreuse;
	font-size: 50px;
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
}

.toTop {
	margin-top: 0px !important;
}

#mainfrm {
	margin-bottom: 10px;
}

#label {
	color: azure;
	font-family: 'Lato', sans-serif;
	font-size: 110%;
}

#searchBox {
	background-color: #262626;
	border-color: chartreuse;
	border-radius: 25px;
	border-width: 3px;
	color: chartreuse;
	font-size: 125%;
	letter-spacing: 2px;
}

 /* The following CSS usually removes the default highlight-border */
#searchBox:focus {
	outline: none;
}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#list {
	padding-left: 40px;
	padding-right: 40px;
	list-style-type: none;
}

.article {
	background-color: rgba(255, 243, 236, 1);
	color: black;
	margin: 12px 0 12px 0;
	padding: 1%;
}

.article:hover {
	border-left: 7px solid chartreuse;
}

h3 {
	margin-top: 0px;
	margin-bottom: 15px;
}

.easeIn {
	/* Chrome, Safari, Opera */
    -webkit-animation-name: easeIn;
    -webkit-animation-duration: 3s;
	/* Mozilla Firefox */
    -moz-animation-name: easeIn; 
    -moz-animation-duration: 3s; 
	/* Standard */
    animation-name: easeIn;
    animation-duration: 3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes easeIn {
    from {opacity: 0.0;}
    to {opacity: 1;}
}

/* Mozilla */
@-moz-keyframes easeIn {
    from {opacity: 0.0;}
    to {opacity: 1;}
}

/* Standard */
@keyframes easeIn {
    from {opacity: 0.0;}
    to {opacity: 1;}
}